setuptools
langchain
ipykernel
python-dotenv
langchain-groq
langchain-community
langchain-huggingface
sentence-transformers
langchain-cohere
pypdf
faiss-cpu
structlog
PyMuPDF
pandas
streamlit
langchain-core[tracing]
pytest
-e .

